.hidden {
  visibility: hidden;
}

.show {
  visibility: visible;
}

.pokemonCard {
  max-width: 20rem;
  height: 25rem;
  border: 1px solid black;
  background-color: rgb(255, 255, 255, 0.9);
  border-radius: 5px;
  display: block;
  margin: auto;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 0.5px 0.5px 8px 1px black;
  padding: 1rem;
  box-sizing: border-box;
}

.bookmark {
  top: 1rem;
  left: 1rem;
  width: 2rem;
  height: 2rem;
  background-image: url("../../assets/save-instagram-black-lineal-18315.png");
  background-size: contain;
  transition: 0.1s all;
}

.bookmark:hover {
  transform: scale(1.1);
}

.bookmarked {
  top: 1rem;
  left: 1rem;
  width: 2rem;
  height: 2rem;
  background-image: url("../../assets/yellow-save-instagram-bookmark-18319.png");
  background-size: contain;
  transition: 0.1s all;
}

.bookmarked:hover {
  transform: scale(1.1);
}

.pokemonCard img {
  position: relative;
  bottom:1rem;
  margin: auto;
  width: 8rem;
  display: block;
  margin: auto;
}

.info h1 {
  position: relative;
  bottom: 1rem;
  display: block;
  margin: auto;
  line-height: 1.3;
}
