.container {
  background-color: #a14d6c;
  padding: 1rem 2rem;
  position: absolute;
  margin: 4rem;
  z-index: 5;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.chips {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.close {
  background-color: rgb(7, 101, 188);
  color: white;
  padding: 5px 10px;
  float: right;
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin: 1rem;
}
.clear {
  background-color: rgb(211, 166, 19);
  color: white;
  padding: 5px 10px;
  float: right;
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin: 1rem;
}
.close:hover {
  background-color: black;
}
.clear:hover {
  background-color: red;
}
.filterHeads {
  font-size: 2rem;
}
