.container {
  width: fit-content;
  padding: 10px;
  border-radius: 3rem;
  color: rgb(8, 9, 9);
  background-color: white;
  text-transform: capitalize;
  cursor: pointer;
}

.container:hover {
  scale: 105%;
}

.active {
  background-color: gray;
  color: white;
}

.reset {
  background-color: black;
  color: white;
}
